@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #111111;
	font-family: "Schibsted Grotesk", sans-serif;
	font-optical-sizing: auto;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
